# デフォルトで，5173ポートで立ち上がります．
# 変更のために，compose.yml, ReactのDockerfile, vite.config.jsonを変更します．
CLIENT_URL = "http://localhost:5173"
SECRET_KEY = "key_for_crypto"
TOKEN_SECRET_KEY = "key_for_jwt"
# ポート3306はcompose.ymlを合わせて変更すればいいはず．
DATABASE_URL = "mysql://開発用のユーザー:開発用のユーザーのパスワード@db:3306/todolist"